[parser]
ost_domain = https://www.opensubtitles.org
ost_search_url = https://www.opensubtitles.org/en/search2/sublanguageid-{}/moviename-

[gui]
looknfeel = SandyBeach
extract_srt = true
delete_zip = True
selected_languages = eng
ost_filename_as_referring_media = true
open_ost_folder_after_download = false


[paths]
ost_dl_folder = /somefolder
default_media_folder = /maybe/some/other/folder
